#player-search-input-container {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

#player-search-input-container .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.player-remove {
  position: absolute;
  right: 1em;
  top: 1em;
  color: #545454;
}

.player-remove:hover {
  cursor: pointer;
  color: #333333;
}

#selected-players-container {
  overflow: auto;
  height: 400px;
  padding: 0.75em;
  border: solid #dedede 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#selected-players-header {
  background-color: #efefef;
  color: #333333;
  text-align: center;
  font-size: 1.25em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: solid #dedede 1px;
  border-bottom: none;
}

.input-group-prepend button {
  background-color: #efefef;
  color: #6b747c;
  border-color: #ced4db;
}

.btn-outline-secondary {
  border-color: #dedede;
}
