<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="scoringModalLabel" aria-hidden="true" #scoringModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scoringModalLabel">Scoring</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Passing</h5>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Passing Yards</span>
          </div>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="scoringRulesEdit.PaYa">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Passing Yards Interval</span>
          </div>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="scoringRulesEdit.PaYaInterval">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Passing TD</span>
          </div>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="scoringRulesEdit.PaTD">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Passing INT</span>
          </div>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="scoringRulesEdit.PaInt">
        </div>

        <h5>Rushing</h5>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Rushing Yards</span>
          </div>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="scoringRulesEdit.RuYa">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Rushing Yards Interval</span>
          </div>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="scoringRulesEdit.RuYaInterval">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Rushing TD</span>
          </div>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="scoringRulesEdit.RuTD">
        </div>
        <h5>Passing</h5>
        <div class="text-muted">(coming soon)</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveScoringRules(scoringRulesEdit)">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-3">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{chosenPosition}}
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item" type="button" (click)="SetChosenPosition('All')">All</button>
            <div role="separator" class="dropdown-divider"></div>
            <button class="dropdown-item" type="button" (click)="SetChosenPosition('QB')">QB</button>
            <div role="separator" class="dropdown-divider"></div>
            <button class="dropdown-item disabled" type="button">(Coming soon)</button>
            <button class="dropdown-item disabled" type="button">RB</button>
            <button class="dropdown-item disabled" type="button">WR</button>
            <button class="dropdown-item disabled" type="button">TE</button>
            <button class="dropdown-item disabled" type="button">K</button>
          </div>
        </div>
        <div class="dropdown" id="player-search-input-container">
          <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            aria-label="Text input with dropdown button" #playerSearchInput (keyup)="PerformNameFilter(playerSearchInput.value); DropdownTypeOpenFix(playerSearchInput)">
          <div class="dropdown-menu" style="overflow: auto; max-height: 400px;" aria-labelledby="">
            <button class="dropdown-item" type="button" *ngFor="let player of allPlayersNameFiltered" (click)="AddPlayer(player)">{{player.Position}} - {{player.Name}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-6">
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <span *ngIf="chosenSort === 'none'">Sort By</span>
          <span *ngIf="chosenSort !== 'none'" class="text-capitalize">{{chosenSort}}</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" (click)="SortPlotsByMedian()">Median</button>
          <button class="dropdown-item" type="button" (click)="SortPlotsByMean()">Mean</button>
          <button class="dropdown-item" type="button" (click)="SortPlotsByCeiling()">Highest Avg Ceiling</button>
          <button class="dropdown-item" type="button" (click)="SortPlotsByFloor()">Highest Avg Floor</button>
          <button class="dropdown-item" type="button" (click)="SortPlotsByTotal()">Total Points</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <button class="btn btn-primary" (click)="ToggleScoringModal()" style="float: right">Scoring Rules</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div #boxOutput></div>
    </div>
    <div class="col-md-4">
      <div id="selected-players-header">Players</div>
      <div id="selected-players-container">
        <div class="card" *ngIf="selectedPlayers.length > 0">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let player of selectedPlayers">
              {{player.Name}}
              <i class="fa fa-times player-remove" aria-hidden="true" (click)="RemovePlayer(player)"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
